body{
    font-size: 16px;
    color: #fff;
    background-color: #61122f;
    font-family: 'Oxygen', sans-serif;
    
}
*{
    box-sizing: border-box;
}
h1{
    margin-bottom: 15px;
}
p{
    border: 3px solid black;
    background-repeat: none ;
    background-position-x: center;
    background-position-y: center;
    margin-right: auto;
    margin-left: auto;
    font-family: Helvetica;
    color: #000;
    font-weight: 600;
    text-transform: capitalize;
    background: #557c3e;
    font-size: 2vw;
    height: 15vw;
    
}
#header-nav{
    background-color: #f6b319;
    border: 0;
    border-radius: 0%;
    margin-bottom: 30px;
}
#logo-img {
    background: url(bootstrap-4.5.0-dist/js/1024px-Coloured_Voronoi_2D.svg.png) no-repeat;
    width: 100px;
    height: 100px;
    margin: 10px 15px 10px 0;
    float: left;
    border: #000 solid 3px;
    padding: 0px;
}

.navbar-brand {
    padding-top: 15px;
    margin-left: 50px;
    border: #61122f double 10px;

}
.navbar-brand h1 {
    font-family: serif;
    color: #557c3e;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 3px 3px 3px #222;
    margin-top: 0;
    margin-bottom: 0;
    line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
    text-decoration: none;
    font-size: 1.2em ;
    text-shadow: ;
}
.navbar-brand h2{
    color: #000;
    text-transform: uppercase;
    font-size: .8em;
    margin-top: 12.5px;
    font-weight: 700;
    margin-bottom: 5px;
    padding-bottom: 5px;
}
.icon-bar {
    float: right;
    background-color: #555;
    overflow: auto;    
    line-height: 200%;
    width: 12.5em;
    height: 3em;   
}
.icon-bar a{
    margin-left: .5em;
    margin-right: .5em;
    transition: all 0.3s ease;
    color: white;
    font-size: 1.5em;
}
.icon-bar a:hover {
    color: lightgrey;
    font-size: 30px;
    margin-top: 5px;
}
 .jumbotrain {
    text-align: center;
    margin-bottom: 30px;
}
#dafooter {
    margin-top: 15px;
    padding-right: 200px;
    padding-left: 200px;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    background-color: #f6b319;
    color: #557c3e;
    padding-top: 15px;
    text-shadow: 1px 1px 1px black;
    padding-bottom: 10px;
}
.dafooter {
    border: #61122f double 10px;
    margin-top: 5px;
    margin-bottom:5px;
}
.category-title {
    position: relative;
    border: solid 2px #3f0C1F;
    overflow: hidden;
    width: 200px;
    height: 200px;
    margin: 0 auto 15px;
}
.category-title span {
    position: absolute;
    bottom: 0;
    right: 0;
    text-align: center;
    width: 100%;
    font-size: 1.2em;
    text-transform: uppercase;
    background-color: #000;
    color: #fff;
    opacity: .75;
}
.category-title:hover{
    box-shadow: 0px 1px 5px 1px #cccccc;
}