body{
    font-size: 16px;
    color: #fff;
    background-color: #61122f;
    font-family: 'Oxygen', sans-serif;
    
}
*{
    box-sizing: border-box;
}
h1{
    margin-bottom: 15px;
}
p{
    border: 3px solid black;
    background-image:  url(https://img.pngio.com/pizza-cheese-food-transparent-png-image-clipart-free-download-cheese-pizza-png-900_580.jpg);
    background-repeat: none ;
    background-position-x: center;
    background-position-y: center;
    height: 150px;
    margin-right: auto;
    margin-left: auto;
    font-family: Helvetica;
    color: #000;
    font-weight: 600;
    text-transform: capitalize;
    
}
#header-nav{
    background-color: #f6b319;
    border: 0;
    border-radius: 0%;
}
#logo-img {
    background: url(bootstrap-4.5.0-dist/js/1024px-Coloured_Voronoi_2D.svg.png) no-repeat;
    width: 100px;
    height: 100px;
    margin: 10px 15px 10px 0;
    float: left;
    border: #000 solid 3px;
    padding: 0px;
}
.navbar-brand {
    padding-top: 15px;
    margin-left: 50px;
    border: #61122f double 10px;

}
.navbar-brand h1 {
    font-family: serif;
    color: #557c3e;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 3px 3px 3px #222;
    margin-top: 0;
    margin-bottom: 0;
    line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
    text-decoration: none;
}
.navbar-brand h2{
    color: #000;
    text-transform: uppercase;
    font-size: .8em;
    margin-top: 12.5px;
    font-weight: 700;
    margin-bottom: 5px;
    padding-bottom: 5px;
}
.icon-bar {
    float: right;
    background-color: #555;
    overflow: auto;    
    line-height: 200%;
    width: 12.5em;
    height: 3em;
    
}
.icon-bar a{
    margin-left: .5em;
    margin-right: .5em;
    transition: all 0.3s ease;
    color: white;
    font-size: 1.5em;
}
.icon-bar a:hover {
    color: lightgrey;
    font-size: 30px;
    margin-top: 5px;
}
#main-content .jumbotron{
    text-align: center;
    padding: 0px;
    margin: 0px;
    
}

